# Ignore node_modules directory
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore compiled output or build files
dist/
build/

# Ignore any other files you don't want to commit
# Add more patterns as needed